$marginValue: 20px;
$navTextColor: white;
$activeColor: white;

.navLinks {
    margin-right: $marginValue;
}

.navbar-dark .navbar-nav .nav-link
{
    color: $navTextColor;
}

.active {
    color: $activeColor;
    text-decoration: none;
}